{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<style>
    h3 {
        font-size: 1.8rem;
        font-weight: bolder;
    }

    .glassy-form {
        border-radius: 25px;
        border: 2px solid white;
        background: rgba(255, 165, 0, 0.2); /* Glassy orange */
        padding: 20px;
        font-weight: bolder;
        color: black;
        width: 400px;
        height: auto;
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    }

    .btn-orangered {
        background-color: orangered;
        color: white;
        font-weight: bold;
        font-size: 1.2rem;
        width: 120px;
        height: 50px;
        float: right;
        border: none;
    }

    .btn-orangered:hover {
        opacity: 0.9;
    }

</style>

<br/>
<div class="container">
    <h3 class="text-center">STOCK LEVELS UPDATE</h3>
    <form action="" method="POST" class="glassy-form">
        {% csrf_token %}
        {{ form|crispy }}

        <input type="submit" value="Update" class="btn btn-orangered"/>
    </form>
</div>
{% endblock %}
